 
 #body{
background: black;
}
 
#gradientBorder{
    margin:7% 4px 4px 4px;
     border-radius:15px 35px;
    background-image:linear-gradient(to bottom right,#ff00f1,#ffdc00,#55d5ff);
    
}


#gradientBackground{
border: solid black 3px;
   margin:2px;
   border-radius:15px 35px;
    background-image:linear-gradient(to bottom right, white, black);
}


#div1{
    padding:1px;
}


#div2{
    margin-top:1em;
    
    
}


#img1{
    
    width:100% ;
    height:100%;
    border-radius:50%;
   border-width: 3px ;
   border-style:solid; 
   border-color:black ;
}


.div3{
    margin:1%;
    width:31%;
    height:30%;
    
    
}

.img2{
    width:100%;
    height:100px;
    border-radius:15px 25px;   
    border:solid black 2px;
    
}



#img4{
   
    width:50px;
    height:50px;
}


#btn1{
    border:solid black 2px;
    border-radius:50%;
    display:block;
    padding:0%;
    background: transparent;
}


#div5{ 
    padding:0%; 
}



#form-popup {
  display: none;
  position: fixed;
  bottom: 18%;
  
  border:0;
  z-index: 9;
}


#form-container {
border:solid white 2px;
border-radius:15px;
  max-width: 80%;
  background-image:linear-gradient(to bottom right,#006cff,#e355ff);

  margin-left:8%;
  
  
}

.input{
    width:90%;
    margin-left:5%;
    margin-top:3%;
    border-radius:5px;
    border:0;
}

.input2{
    width:90%;
    height:100px;
    margin-left:5%;
    margin-top:3%;
    border-radius:12px;
    margin-bottom:3%;
    border:0;
    
}


input[type=text], textarea{
    resize: vertical;
    
}


 #btn2{
 
     margin-left:85%;
     
     border:transparent;
    
 }
 
 #btn3{
 
 
 
 
     border-radius:50%;
    margin-bottom:3%;
     background:transparent;
    border:transparent;
 }
 

#div4{

    margin-top:3%;   
    width:100%;
    
}


#arrow1{
    margin-left:29%;
    width:15%;
    
}

#arrow2{
    
    width:15%;
}


#img3{
display:block;
margin-top:30%;
    width:30%;
    height:40%;
    margin-left:70%;
    position: relative;
  animation-name: arrow1;
  animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    
  
}

@keyframes arrow1 {
  0%   { right:14px; }
  0%{opacity:0}
  50%  { right:0px; }   
  50%{opacity:1}
  100% { right:14px; }
  100%{opacity:0}
}

#img5{
display:block;
margin-top:30%;
    width:30%;
    height:40%;
    position: relative;
  animation-name: arrow2;
  animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    
  
}


@keyframes arrow2 {
  0%   { left:14px; }
  0%{opacity:0}
  50%  { left:0px; }
  50%{opacity:1}
  100% { left:14px; }
  100%{opacity:0}
}


p{
    margin-left:65%;
    text-shadow:3px 3px 4px black;
}

h1{
font-family:'Brush Script MT',cursive;
text-shadow:3px 3px 4px black;
margin-left:15%;
    
}


#imgc{
border:solid white 2px;
border-radius:50%;
    width:8%;
    height:8%;
}



#imgs{
width:100%;
border:solid white 2px;
border-radius:50%;
}
#div6{
    width:17%;
    margin-left:43%;
    margin-bottom:3px;
}

@keyframes popup{
from{left:100%;}
to{left:0%;}

    
}

@keyframes popdown{
    from{left:0%;}
    to{left:100%;}
    
}



#btnmenu{
display:none;
position:absolute;
    z-index:+8;
    margin-left:43.5%;
    margin-top:80%;
    width:45px;
    height:45px;
   border-radius:50%;
   background:green;
   border:solid white 2px;
    
}

#btm1{

display:none;
    position:absolute;
    z-index:+5;
    margin-left:16%;
    margin-top:60%;
    
    
}



#btm2{
display:none;
    position:absolute;
    z-index:+3;
    margin-left:39%;
    margin-top:50.3%;
    
}


#btm3{
display:none;
    position:absolute;
    z-index:+4;
    margin-left:60%;
    margin-top:60%;
    
}



@keyframes menu1{
0%{margin-left:39%;margin-top:76%;}
100%{margin-left:16%;margin-top:60%;}
    
}


@keyframes menu2{
0%{margin-left:39%;margin-top:76%;}
100%{margin-left:39%;margin-top:50.3%;}
    
}


@keyframes menu3{
0%{margin-left:39%;margin-top:76%;}
100%{margin-left:60%;margin-top:60%;}
    
}


@keyframes menu4{
0%{margin-left:16%;margin-top:60%;}
100%{margin-left:39%;margin-top:76%;}
    
}


@keyframes menu5{
0%{margin-left:39%;margin-top:50%;}
100%{margin-left:39%;margin-top:76%;}
    
}


@keyframes menu6{
0%{margin-left:60%;margin-top:60%;}
100%{margin-left:39%;margin-top:76%;}
    
}


.home{

border:solid white 2px;
    width:40px;
    border-radius:50%;
    background:red;
}

.menu{
    width:80px;
    height:80px;
    border-radius:50%;
    border:transparent;
    background: transparent;
    
    
}
